/.pytest_cache
/Java\ Code\ Files
/todolist
/React\ Crash\ Course
Java Code Files/Java-Practice
React Crash Course/todolist
React Crash Course/0-react-template-here-0/default_setup
React Crash Course/Framer Motion Practice/basic concepts/main
React Crash Course/project based course/react-notes-app/default_setup
React Crash Course/tic-tac-toe/main
