.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem 0;
}

.py-5 {
  padding: 5rem 0;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.btn-secondary, .btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
}
.btn-secondary:hover, .btn-primary:hover {
  transform: scale(0.98);
}

.btn-primary {
  background-color: #adffff;
  color: #333;
}

.btn-secondary {
  background-color: #ff8700;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.showcase {
  background-color: #e0ffff;
  color: #333;
  height: 600px;
}
.showcase nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showcase nav h1 {
  font-size: 20px;
}
.showcase nav ul {
  display: flex;
  list-style: none;
}
.showcase nav li {
  padding: 15px;
}
.showcase nav a:hover {
  color: #ff8700;
}
.showcase-content {
  height: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase-content img {
  width: 50%;
}
.showcase h1 {
  font-size: 30px;
  list-style: 1.2;
}

@media screen and (max-width: 700px) {
  .showcase {
    height: 400px;
  }
  .showcase-content {
    text-align: center;
  }
  .showcase-content img {
    display: none;
  }
}